<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roku Streaming Service</title>
</head>
<body>
    <main id="app">
    <h1>Blah plah</h1>
    <h3>Dynamic content:</h3>
{{{ body }}}
</main>

<script defer type="module" src="scripts/main.js"></script>
</body>
</html>